body {
  font-family: 'Times New Roman', Times, serif;
  background: #f4f4f4;
  text-align: center;
}

.card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 60%;
  border-radius: 10px;
}

img {
  border-radius: 8px;
}
